{% extends 'base/base.html' %}
{% load staticfiles %}

{% block header %}

<header>
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
  			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  			<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
 
		</ol>
    	<div class="carousel-inner" role="listbox">	          	
      		<!-- Slide One - Set the background image for this slide in the line below -->
      		<div class="carousel-item active" style="background-image: url('{% static 'base/images/bgH.jpg' %}')">
        		<!-- for caption of slide image
        		<div class="carousel-caption d-none d-md-block">
          			<h3>First Slide</h3>
          			<p>This is a description for the first slide.</p>
        		</div> -->
      		</div>
      	
      		<!-- Slide Two - Set the background image for this slide in the line below -->
      		<div class="carousel-item" style="background-image: url('{% static 'base/images/bhA.jpg' %}')">

      		</div>
      	
      		<!-- Slide Three - Set the background image for this slide in the line below -->
      		<div class="carousel-item" style="background-image: url('{% static 'base/images/bgV.jpg' %}')">

      		</div>

      		<div class="carousel-item" style="background-image: url('{% static 'base/images/bgV2.jpg' %}')">

      		</div>

		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
  			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  			<span class="carousel-control-next-icon" aria-hidden="true"></span>
  			<span class="sr-only">Next</span>
		</a>
		</div>
</header>

{% endblock %}

{% block about %}

<section id="about">
  	<div class="container">
    	<div class="row">
      		<div class="col-lg-8 mx-auto">
        		<h1>About</h1>
        		<p class="lead">Yangyai Garden, Yang is a name of the biggest tree on Koh Phangan and Yai means big, combined with a garden on our place which is grown with coconut tree, fruit, vegetable and herb. Our garden is organic and has a certificate. Guests can enjoy our products from the garden as well. Our philosophy of service is sincere, friendly and honest.</p>
      		</div>
    	</div>
  	</div>
</section>

{% endblock %}

{% block property %}

<section id="property" class="bg-light">
	<!-- Property Content 1-->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h1>Property</h1>

		      	<!-- House1 Heading -->
		      	<h3 class="my-4">Private House
		        	<small> with Garden View</small>
		      	</h3>

		      	<!-- House one row -->
		      	<div class="row">
		        	<div class="col-md-7">
		          		<a href="#">
		            		<img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'base/images/phouse.jpg' %}" alt="">
		          		</a>
		        	</div>
		        	<div class="col-md-5">
		          		<h3>House Description</h3>
		          		<p>A lovely, relaxing private house located in Baan Tai area. It has a comfy inside area of 50 squre meter. The house has a fully equipped kitchen, one bedroom with king size bed and AC, a living room with TV and a working table and bathroom with hot water shower.</p>
		          		<a class="btn btn-primary" data-toggle="modal" data-target="#fullProperty" href="#">View Full Details</a>
		          		
		          		<div id="fullProperty" class="modal" role="dialog">
		          			<div class="modal-dialog modal-lg">
		          				<div class="modal-content">
		          				<section style="padding-top: 20px!important; padding-bottom: 10px!important;">
		          					<div class="model-body">

		          						<!-- Page Content -->
										<div class="container">
											<h2 style="color: black">Pravate House with Garden View</h2>
											<hr>
										  	<!-- bedroom Row -->
										  	<div class="row">

										    	<div class="col-md-8">
										      		<img class="img-fluid" src="{% static 'base/images/phbedroom.jpg' %}" alt="">
										    	</div>

										    	<div class="col-md-4">
										      		<h3 class="my-3">Bedroom Details</h3>
										      		<ul>
												        <li>King size bed</li>
												        <li>Air conditioner</li>
												        <li>Fan</li>
												        <li>Closet</li>
										      		</ul>
										    	</div>

										  	</div>
										  	<!-- /.row -->

										  	<hr>

										  	<!-- living room Row -->
										  	<div class="row">

										    	<div class="col-md-8">
										      		<img class="img-fluid" src="{% static 'base/images/phliving.jpg' %}" alt="">
										    	</div>

										    	<div class="col-md-4">
										      		<h3 class="my-3">Living room Details</h3>
										      		<ul>
												        <li>TV</li>
												        <li>Working table</li>
												        <li>Two relaxing chairs</li>
												        <li>Fan</li>
										      		</ul>
										    	</div>

										  	</div>
										  	<!-- /.row -->

										  	<hr>

										  	<!-- kitchen Row -->
										  	<div class="row">

										    	<div class="col-md-8">
										      		<img class="img-fluid" src="{% static 'base/images/phkitchen.jpg' %}" alt="">
										    	</div>

										    	<div class="col-md-4">
										      		<h3 class="my-3">Kitchen Details</h3>
										      		<ul>
												        <li>Kitchen sink</li>
												        <li>Refrigerator</li>
												        <li>Induction cooker</li>
												        <li>Microwave</li>
												        <li>Water boiler</li>
												        <li>Toast machine</li>
												        <li>Kitchenware</li>
												        <li>Kitchen table</li>
										      		</ul>
										    	</div>

										  	</div>
										  	<!-- /.row -->

										  	<hr>

										  	<!-- bathroom Row -->
										  	<div class="row">

										    	<div class="col-md-8">
										      		<img class="img-fluid" src="{% static 'base/images/phbath.jpg' %}" alt="">
										    	</div>

										    	<div class="col-md-4">
										      		<h3 class="my-3">Bathroom Details</h3>
										      		<ul>
												        <li>Hot water shower</li>
												        <li>Flush toilet</li>
												        <li>Face wash sink</li>
												        <li>Mirror</li>
										      		</ul>
										    	</div>

										  	</div>
										  	<!-- /.row -->

										  	<hr>


										  	<!-- balcony Row -->
										  	<div class="row">

										    	<div class="col-md-8">
										      		<img class="img-fluid" src="{% static 'base/images/phbalcony.jpg' %}" alt="">
										    	</div>

										    	<div class="col-md-4">
										      		<h3 class="my-3">Balcony Details</h3>
										      		<ul>
												        <li>Long wooden chair</li>
												        <li>Small table</li>
										      		</ul>
										    	</div>

										  	</div>
										  	<!-- /.row -->

										  	<hr>


										</div>
										<!-- /.container -->
										
		          					</div>
		          					
		          				</section>
		          				</div>
		          			</div>
		          		</div>
		        	</div>
		      	</div>
		      	<!-- /.row -->

		      	<hr>

		      	<!-- Roome Heading -->
		      	<h3 class="my-4">Private Double Room
		        	<small> with Garden View</small>
		      	</h3>

		      	<!-- Room one row -->
		      	<div class="row">
		        	<div class="col-md-7">
		          		<a href="#">
		            		<img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'base/images/bhA.jpg' %}" alt="">
		          		</a>
		        	</div>
		        	<div class="col-md-5">
		          		<h3>Room Description</h3>
		          		<p>A newly, minimal private double room located in Baan Tai area. It has a comfy inside area of 30 squre meter. The room has a bedroom with king size bed and AC, a small area for a working table, a bathroom with hot water shower and a balcony for relaxing and hang out.</p>		          		
		          		<a class="btn btn-primary" data-toggle="modal" data-target="#fullPropertyRoom" href="#">View Full Details</a>
		          		
		          		<div id="fullPropertyRoom" class="modal" role="dialog">
		          			<div class="modal-dialog modal-lg">
		          				<div class="modal-content">
		          				<section style="padding-top: 20px!important; padding-bottom: 10px!important;">
		          					<div class="model-body">

		          						<!-- Page Content -->
										<div class="container">
											<h2 style="color: black">Pravate Double Room with Garden View</h2>
											<hr>
										  	<!-- bedroom Row -->
										  	<div class="row">

										    	<div class="col-md-8">
										      		<img class="img-fluid" src="{% static 'base/images/prbedroom.jpg' %}" alt="">
										    	</div>

										    	<div class="col-md-4">
										      		<h3 class="my-3">Bedroom Details</h3>
										      		<ul>
												        <li>King size bed</li>
												        <li>Air conditioner</li>
												        <li>Closet</li>
										      		</ul>
										    	</div>

										  	</div>
										  	<!-- /.row -->

										  	<hr>

										  	<!-- living room Row -->
										  	<div class="row">

										    	<div class="col-md-8">
										      		<img class="img-fluid" src="{% static 'base/images/prliving.jpg' %}" alt="">
										    	</div>

										    	<div class="col-md-4">
										      		<h3 class="my-3">Small living room Details</h3>
										      		<ul>
												        <li>TV</li>
												        <li>Working table</li>
												        <li>Two relaxing chairs</li>
												        <li>Microwave</li>
												        <li>Water boiler</li>
												        <li>Toast machine</li>
												        <li>Simple kitchenware</li>
										      		</ul>
										    	</div>

										  	</div>
										  	<!-- /.row -->

										  	<hr>										  											  	

										  	<!-- bathroom Row -->
										  	<div class="row">

										    	<div class="col-md-8">
										      		<img class="img-fluid" src="{% static 'base/images/prbath.jpg' %}" alt="">
										    	</div>

										    	<div class="col-md-4">
										      		<h3 class="my-3">Bathroom Details</h3>
										      		<ul>
												        <li>Hot water shower</li>
												        <li>Flush toilet</li>
												        <li>Face wash sink</li>
												        <li>Mirror</li>
										      		</ul>
										    	</div>

										  	</div>
										  	<!-- /.row -->

										  	<hr>


										  	<!-- balcony Row -->
										  	<div class="row">

										    	<div class="col-md-8">
										      		<img class="img-fluid" src="{% static 'base/images/prbalcony.jpg' %}" alt="">
										    	</div>

										    	<div class="col-md-4">
										      		<h3 class="my-3">Balcony Details</h3>
										      		<ul>
												        <li>Chair</li>
												        <li>Small table</li>
										      		</ul>
										    	</div>

										  	</div>
										  	<!-- /.row -->

										  	<hr>


										</div>
										<!-- /.container -->
										
		          					</div>
		          					
		          				</section>
		          				</div>
		          			</div>
		          		</div>
		        	</div>
		      	</div>
		      	<!-- /.row -->

		      	<hr>

	      	</div>
	    </div>
    </div>	  	
</section>

{% endblock %}

{% block services %}

<section id="services">
  	<div class="container">
    	<div class="row">
      		<div class="col-lg-8 mx-auto">
        		<h2>Services</h2>
        		<p class="lead">These are three main services that we provide with extra charge. For more information please contact yangyaigarden@gmail.com or reception.</p>

				<!-- Services Row -->
				<div class="row">
				    <div class="col-lg-4 col-sm-6 text-center mb-4">
				    	<img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'base/images/bike.png' %}" alt="">
				      	<h3>Motorcycle
				        	<small> service</small>
				      	</h3>
				      	<p>The best way to travel around island is by motorcycle. We offer a motorcycle service with a daily charge.</p>
				    </div>
				    <div class="col-lg-4 col-sm-6 text-center mb-4">
				      	<img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'base/images/laundry.png' %}" alt="">
				      	<h3>Laundry
				        	<small> service</small>
				      	</h3>
				      	<p>Unavailable until 2019.</p>
				    </div>
				    <div class="col-lg-4 col-sm-6 text-center mb-4">
				      	<img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'base/images/ticket.png' %}" alt="">
				      	<h3>Ticket
				        	<small> service</small>
				      	</h3>
				      	<p>We offer a transport booking service to Koh Samui, Koh Tao, Surat Thani, Phi Phi and more.</p>
				    </div>
				</div>

      		</div>
    	</div>
  	</div>
</section>

{% endblock %}

{% block event %}  
	    
<section id="event" class="bg-light">
  	<div class="container">
    	<div class="row">
      		<div class="col-lg-8 mx-auto">
        		<h2>Event</h2>

				<!-- Full moon event -->
				<h3 class="my-4">Full Moon Party
				</h3>
				<div class="row">

				    <div class="col-md-6">
				      <img class="img-fluid" src="{% static 'base/images/fmp.jpeg' %}" alt="">
				    </div>

				    <div class="col-md-6 my-4">
				      <h5>Description</h5>
				      <p>The Full Moon Party is an all-night beach party that originated in Hat Rin on the island of Ko Pha-ngan, Thailand on the night of, before or after every full moon. It is mostly attended by tourists. The type of music mainly is electronic.</p>
				      <h5 class="my-3">Schedules</h5>
				      <ul>
				        <li>22 December 2018</li>
				        <li>20 January 2019</li>
				        <li>20 February 2019</li>
				        <li>20 March 2019</li>
				        <li>19 April 2019</li>
				        <li>20 May 2019</li>
				      </ul>
				    </div>
				</div>
				<!-- /.row -->

				<hr>

				<!-- Jungle party event -->
				<h3 class="my-4">Jungle Experience
				</h3>
				<div class="row">

				    <div class="col-md-6">
				      <img class="img-fluid" src="{% static 'base/images/jexp.jpg' %}" alt="">
				    </div>

				    <div class="col-md-6 my-4">
				      <h5>Description</h5>
				      <p>Jungle Experience is one of the original underground dance gatherings. This unique eco party location in a beautiful secret garden deep in the Baan Tai jungle has a natural mountain stream running through the party leading you to the stunningly decorated dancefloor.UNDERGROUND house & techno mixed by Jungle's resident DJ's & regular international guests.With dancers & performance artists we promise you a truly unique party experience which will stay in your heart forever.</p>
				      <h5 class="my-3">Schedules</h5>
				      <ul>
				        <li>1 day before & after Fullmoon party</li>
				      </ul>
				    </div>
				</div>
				<!-- /.row -->

				<hr>

				<!-- waterfull party event -->
				<h3 class="my-4">Waterfall Party
				</h3>
				<div class="row">

				    <div class="col-md-6">
				      <img class="img-fluid" src="{% static 'base/images/wfp.jpg' %}" alt="">
				    </div>

				    <div class="col-md-6 my-4">
				      <h5>Description</h5>
				      <p>One of Koh Phangan's iconic 'big 3' parties, 'Waterfall Party' has quickly come from humble roots, to one of the largest organized music events on Asia's 'Techno Island'. Think international DJ's, Fire Shows, Dancers, Acrobats, Glow Paint and a dance floor that doesn't stop until you do! All this set around a beautiful waterfall in the heart of a tropical jungle. </p>
				      <h5 class="my-3">Schedules</h5>
				      <ul>
				        <li>2 day before & after Fullmoon party</li>
				      </ul>
				    </div>
				</div>
				<!-- /.row -->

				<hr>
				
				<!-- Half moon event -->
				<h3 class="my-4">Half Moon Festival
				</h3>
				<div class="row">

				    <div class="col-md-6">
				      <img class="img-fluid" src="{% static 'base/images/hmp.png' %}" alt="">
				    </div>

				    <div class="col-md-6 my-4">
				      <h5>Description</h5>
				      <p>The Half Moon Festival is an outdoor dance music (rave) event on the island of Ko Pha Ngan, Thailand held on the half moon, one week before and one week after the full moon. The Half Moon Festival complements the bigger Full Moon Party events. It is held in its own venue in a forest north of the Ban Tai village, between Thong Sala and Haad Rin.</p>
				      <h5 class="my-3">Schedules</h5>
				      <ul>
				        <li>15, 29 December 2018</li>
				        <li>12, 28 January 2019</li>
				        <li>12, 27 February 2019</li>
				        <li>13, 28 March 2019</li>
				        <li>12, 27 April 2019</li>
				        <li>11, 26 May 2019</li>
				      </ul>
				    </div>
				</div>
				<!-- /.row -->

				<hr>

				<!-- black moon event -->
				<h3 class="my-4">Blackmoon Culture
				</h3>
				<div class="row">

				    <div class="col-md-6">
				      <img class="img-fluid" src="{% static 'base/images/bmc.jpg' %}" alt="">
				    </div>

				    <div class="col-md-6 my-4">
				      <h5>Description</h5>
				      <p>Peace, Trance, Dance ...these 3 words are the main motivation behind the famous Blackmoon Culture. Every month at the black moon, we all gather on the sandy beach at Mac's Bay for a night filled with the latest and freshest progressive and psychedelic trance brought by our Thai and International residents and guest dj's, while the Magic Phangan family and Carin Dickson serve breath-taking eye candy with their decoration.</p>
				      <h5 class="my-3">Schedules</h5>
				      <ul>
				        <li>7 January 2019</li>
				      </ul>
				    </div>
				</div>
				<!-- /.row -->

				<hr>

			</div>
		</div>
  	</div>
</section>  

{% endblock %}

{% block contact %}  
	    
<section id="contact">
	<div class="container">
    	<div class="row">
      		<div class="col-lg-8 mx-auto">
        		<h2>Contact us</h2>
        		<br/>

				<!-- Services Row -->
				<div class="row" style="margin-top: 1.5rem!important;">
				    <div class="col-lg-4 col-sm-6 text-center mb-4">
				    	<img class="img-fluid d-block mx-auto" src="{% static 'base/images/add.png' %}" alt="">
				      	<h3>Address
				        	
				      	</h3>
				      	<p>28/1-4 Moo 2, Baan Tai, Koh Phangan, Surat Thani, Thailand 84280</p>
				    </div>
				    <div class="col-lg-4 col-sm-6 text-center mb-4">
				      	<img class="img-fluid d-block mx-auto" src="{% static 'base/images/phone.png' %}" alt="">
				      	<h3>Telephone
				        	
				      	</h3>
				      	<p>+66(0)61-117-8127</p>
				    </div>
				    <div class="col-lg-4 col-sm-6 text-center mb-4">
				    	<a href="https://mail.google.com/mail/?view=cm&fs=1&to=yangyaigarden@gmail.com">
				      		<img class="img-fluid d-block mx-auto" src="{% static 'base/images/email.png' %}" alt="">
				      	</a>
				      	<h3>E-mail
				        	
				      	</h3>
				      	<p>Click the image above or yangyaigarden@gmail.com</p>
				    </div>
				</div>

      		</div>
    	</div>
    	<div class="row">
    		<div class="col-sm-3"></div>
    		<div class="col-sm-6 mx-auto">
    			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31461.60290804552!2d100.01249776962605!3d9.706594300000019!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3054fdac64f6eff9%3A0x811c3b017c68641a!2sYangyai+Garden!5e0!3m2!1sen!2sth!4v1543921713809" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    		</div>
    		<div class="col-sm-3"></div>
    	</div>
  	</div>
</section>

{% endblock %}